.light-mode {
    .title-link {
        .link-container {
            .link {
                color:grey;
            }
            
        }
        .title-container {
            .title {
                color:black;
            }
        }
    }
}

.dark-mode {
    .title-link {
        .link-container {
            .link {
                color:white;
            }
            i {
                color: white;
            }
        }
        .title-container {
            .title {
                color:white;
            }
        }
    }
    .faqs_title {
        color:white;
    }
}