.light-mode {
    .faqs_title {
        font-family: 'Cinzel', serif;
        font-weight: 600;
        color: black;
    }
}

.dark-mode {
    .faqs_title {
        font-family: 'Cinzel', serif;
        font-weight: 600;
        color: white;
    }
}