@media only screen and (max-width: 768px) {
    .appplestore-tv {
        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

@media only screen and (max-width: 600px) {
    .appplestore-tv {
        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}